.console-root {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  padding: 0 3px;

  .console-logs{
    height: 100%;
    overflow: auto;
  }

  .date-time {
    display: inline-block;
    min-width: 150px;
  }

  .console-empty {
  }
}